In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import time
import traceback
from datetime import datetime

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None

In [2]:
input_directory = '/Users/sauravyadav/Documents/Repos/Datasets/BAR_EMA/output_data/prelim_data_0.csv'
submission_info_directory = "/Users/sauravyadav/Documents/Repos/Datasets/BAR_EMA/input_data/EMA Weekends_FINAL.csv"

missing_match_directory = "/Users/sauravyadav/Documents/Repos/Datasets/BAR_EMA/output_data/missing_date_match.csv"
missing_record_directory = "/Users/sauravyadav/Documents/Repos/Datasets/BAR_EMA/output_data/missing_record_match.csv"

In [3]:
df = pd.read_csv(input_directory)

/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/3544748107.py:1: DtypeWarning: Columns (12,13,14,18,59,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(input_directory)

### TO DO
- ~~Normalize Date Format~~
- ~~Float to Int~~
- ~~Create and Insert Columns (Need more input. Which date col. What dates?): 
    - ~~'Brst': 'Burst',
    - ~~'Wknd': 'Weekend',
    - ~~'Day': 'Day Within Weekend',
- MR_DrnkDur column
- MR_wake column
- ~~Consider additional columns to add:
    - ~~Date of Drinking Session
    - ~~Group

### Uniform Date Format

In [4]:
date_columns = [col for col in df.columns if 'date' in col.lower()]
formats = ['%d/%m/%Y', '%Y-%d-%m %H:%M:%S']
# Function to try parsing the date with multiple formats
def parse_date(date_str):
    for fmt in formats:
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            # print(f'String: {date_str} Format failure: {fmt}')
            pass
    print(date_str)
    return pd.NaT  # Return NaT (Not-a-Time) for unparseable dates

# df[(df['TrigDate'].str.contains('-'))]['TrigDate'].sort_values(ascending=False)
# df['TrigDate'].sample(5)

# Apply the parse_date function to the 'DateColumn'
for date_col in date_columns:
    df[date_col] = df[date_col].apply(parse_date)

### Remove Decimal Points

In [5]:
int_columns = ['SubID','MR_FlSlp', 'MR_SlpQlt', 'MR_DrnkNum',
       'MR_DrnkDur', 'MR_rlx', 'MR_hngvr', 'MR_Embrssd', 'MR_agrsv', 'MR_vom',
       'MR_hrt', 'MR_rmbr', 'MR_work', 'MR_rude', 'MR_soc', 'MR_exprs',
       'MR_guilt', 'MR_expctd', 'MR_mood', 'MR_mrng', 'MR_prmsd', 'MR_more',
       'MR_fght', 'MR_enrgtc', 'MR_PsdOut', 'MR_MsdClss', 'MR_Impls',
       'MR_sleep', 'MR_weed', 'MR_plan', 'chr', 'anoy', 'upbt', 'sad', 'irit',
       'hap', 'bor', 'cnt', 'RP_enrgz', 'RP_excit', 'RP_sedat', 'RP_slotht',
       'RP_slug', 'RP_up', 'RP_crntloc', 'RP_wthothr',
       'RP_NumOth', 'RP_OthTyp', 'RP_EnjInt', 'RP_ActCld',
       'RP_ActAcc', 'RP_OthCld', 'RP_OthAcc', 'RP_Vrtl', 'RP_AlnLke',
       'RP_AlnGd', 'RP_WshOth', 'RP_lnly', 'RP_rjct', 'RP_incl', 'RP_acpt',
       'RP_vrtint', 'RP_vrtoth', 'RP_vrtwho', 'RP_vrtenj', 'RP_vrtcld',
       'RP_VrtAcc', 'RP_VrtOthCld', 'RP_VrtOthAcc', 'RP_NotInt', 'RP_WshInt',
       'RP_lonely', 'RP_reject', 'RP_included', 'RP_accepted', 'RP_said',
       'RP_spent', 'RP_impt', 'RP_spur', 'RP_Drnk']

for col in int_columns:
    df[col] = df[col].astype('Int64', errors='ignore')

### Convert Date to UTC

In [6]:
df['SubDate'] = df['SubDate'].astype('datetime64[ns]')
df['TrigDate'] = df['TrigDate'].astype('datetime64[ns]')

### New Columns: Burst,Weekend, Day Within Weekend

In [7]:
date_info_df = pd.read_csv(submission_info_directory)
date_info_df = date_info_df[~date_info_df['Sub ID'].isna()].reset_index(drop=True)
date_info_df['SubID'] = date_info_df['Sub ID'].astype('Int64', errors='ignore')
date_info_df = date_info_df.drop(columns=['Date of Drinking Session ', 'Group', 'Sub ID']).reset_index(drop=True)
date_info_df.sample()

,EMA Weekend 1,EMA Weekend 2,EMA Weekend 3,EMA Weekend 4,EMA Weekend 5,EMA Weekend 6,SubID
213,Thurs 1/9 - Sun 1/12/2020,Thurs 1/16 - Sun 1/19/2020,Thurs 7/9 - Sun 7/12/2020,Thurs 7/16 - Sun 7/19/2020,Thurs 2/18 - Sun 2/21/21,Thurs 2/25 - Sun 2/28/21,2457

## Reading and cleaning the submission information data

In [8]:
date_info_df = pd.melt(date_info_df, id_vars=['SubID'], var_name='Weekend', value_name='Submission_Range')
date_info_df['Weekend'] = date_info_df['Weekend'].str.replace('EMA Weekend', '').astype(int)

def expand_year(d):
    date_parts = d.split('/')
    if len(date_parts)==3:
        year = date_parts[2]
        if len(year)==2:
            year = f'20{year}'
            d = f'{d[:-2]}{year}'
    return d
    
def expand_date_range(row):
    
    try:
        if isinstance(row['Submission_Range'], datetime):
            return []
        date_parts = row['Submission_Range'].split('-')
        if len(date_parts)<=1:
            return []
        start_date_parts = date_parts[0].strip().split(' ')
        end_date_parts = date_parts[1].strip().split(' ')
        
        start_date = start_date_parts[1]
        end_date = end_date_parts[1] if len(end_date_parts)==2 else end_date_parts[0]
        
        start_date = expand_year(start_date)
        end_date = expand_year(end_date)
            
        if len(start_date.split('/'))==2 and len(end_date.split('/'))==2:
            print(f'SubID: {row["SubID"]} {row["Submission_Range"]} Range End Date Year: {end_date} Start Year: {start_date}')
            return []
        elif len(start_date.split('/'))==2:
            end_date_month, end_date_date ,end_date_year = end_date.split('/')
            start_date_year = end_date_year 
            if end_date_month=='1' and end_date_date in['1','2','3']:
                start_date_year = str(int(end_date_year) - 1)
            start_date = start_date + f'/{start_date_year}'
        
        elif len(end_date.split('/'))==2:
            start_date_month, start_date_date, start_date_year = start_date.split('/')
            end_date_year = start_date_year
            if start_date_month=='12' and start_date_date in ['29','30','31']:
                end_date_year = str(int(start_date_year)+1)
            
            end_date = end_date + f'/{end_date_year}'
        
        try:
            start_date = pd.to_datetime(start_date, format='%m/%d/%Y')
            end_date = pd.to_datetime(end_date, format='%m/%d/%Y')
        except ValueError:
            print(f'{start_date} and {end_date}')
            
        # date_range = pd.date_range(start_date, end_date, freq='D')
        date_range = pd.date_range(start_date, periods=4, freq='D')
        res = [date.strftime('%a %m/%d/%y') for date in date_range]
        
        if len(res)!=4:
            print(row)
            print(res)
            print(f"!! RANGE IS {row['Submission_Range']}, DATES ARE {start_date} and {end_date}")
        
        return res
    except Exception as e:
        traceback.print_exc()
        display(row)
        print(e)
        return []

date_info_df['Submission_Date'] = date_info_df.apply(expand_date_range, axis=1)
date_info_df = date_info_df.explode('Submission_Date').reset_index(drop=True)
date_info_df['Burst'] = np.ceil(date_info_df['Weekend'] / 2).astype(int)
date_info_df['Day'] = pd.to_datetime(date_info_df['Submission_Date'], format='%a %m/%d/%y').dt.strftime('%a')
date_info_df = date_info_df[~date_info_df['Submission_Date'].isna()]
date_info_df['Submission_Date'] = date_info_df['Submission_Date'].astype('datetime64[ns]')
# date_info_df = date_info_df.drop(columns=['Submission_Range', 'Submission_Date']).reset_index(drop=True)
date_info_df = date_info_df.drop(columns=['Submission_Range'])

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2207
Weekend                  5
Submission_Range    Oct-19
Name: 1683, dtype: object

list index out of range

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2228
Weekend                  5
Submission_Range    Oct-19
Name: 1688, dtype: object

list index out of range

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2222
Weekend                  5
Submission_Range    Oct-19
Name: 1691, dtype: object

list index out of range

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2207
Weekend                  6
Submission_Range    Oct-19
Name: 2076, dtype: object

list index out of range

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2228
Weekend                  6
Submission_Range    Oct-19
Name: 2081, dtype: object

list index out of range

Traceback (most recent call last):
  File "/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py", line 24, in expand_date_range
    start_date = start_date_parts[1]
                 ~~~~~~~~~~~~~~~~^^^
IndexError: list index out of range

SubID                 2222
Weekend                  6
Submission_Range    Oct-19
Name: 2084, dtype: object

list index out of range

/var/folders/35/8nzwnddx74qg4p54k0q2v_0r0000gn/T/ipykernel_10640/4108672120.py:75: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  date_info_df['Submission_Date'] = date_info_df['Submission_Date'].astype('datetime64[ns]')

In [9]:
date_info_df.head()

   SubID  Weekend Submission_Date  Burst  Day
0   2013        1      2018-03-15      1  Thu
1   2013        1      2018-03-16      1  Fri
2   2013        1      2018-03-17      1  Sat
3   2013        1      2018-03-18      1  Sun
4   2007        1      2018-03-15      1  Thu

## Merging with the main dataframe

In [10]:
# df.merge(date_info_df, left_on=['SubID','TrigDate'], right_on=['SubID', 'Submission_Date'], how = 'right').head(2)

In [11]:
res_df = df.merge(date_info_df, left_on=['SubID','TrigDate'], right_on=['SubID', 'Submission_Date'], how = 'right') # SubDate

res_df['TrigDate'] = res_df['TrigDate'].fillna(res_df['Submission_Date'])
res_df['TrigTime'] = res_df['TrigTime'].fillna('05:00:00')

res_df['SurvName'] = res_df['SurvName'].fillna('Morning Reports')
res_df['RespType'] = res_df['RespType'].fillna('Missed')

res_df = res_df.drop(columns=['Submission_Date'])
res_df = res_df[['SubID', 'Burst', 'Weekend', 'Day',  'RespID', 'RespType', 'UserID', 'SurvName', 'SurvType',
       'InitDate', 'InitTime', 'SubDate', 'SubTime', 'TrigDate', 'TrigTime',
       'MR_wake', 'MR_rise', 'MR_bed', 'MR_FlSlp', 'MR_SlpQlt', 'MR_DrnkNum',
       'MR_DrnkDur', 'MR_rlx', 'MR_hngvr', 'MR_Embrssd', 'MR_agrsv', 'MR_vom',
       'MR_hrt', 'MR_rmbr', 'MR_work', 'MR_rude', 'MR_soc', 'MR_exprs',
       'MR_guilt', 'MR_expctd', 'MR_mood', 'MR_mrng', 'MR_prmsd', 'MR_more',
       'MR_fght', 'MR_enrgtc', 'MR_PsdOut', 'MR_MsdClss', 'MR_Impls',
       'MR_sleep', 'MR_weed', 'MR_plan', 'chr', 'anoy', 'upbt', 'sad', 'irit',
       'hap', 'bor', 'cnt', 'RP_enrgz', 'RP_excit', 'RP_sedat', 'RP_slotht',
       'RP_slug', 'RP_up', 'RP_crntloc', 'RP_othrloc', 'RP_wthothr',
       'RP_NumOth', 'RP_OthTyp', 'RP_OthWho', 'RP_EnjInt', 'RP_ActCld',
       'RP_ActAcc', 'RP_OthCld', 'RP_OthAcc', 'RP_Vrtl', 'RP_AlnLke',
       'RP_AlnGd', 'RP_WshOth', 'RP_lnly', 'RP_rjct', 'RP_incl', 'RP_acpt',
       'RP_vrtint', 'RP_vrtoth', 'RP_vrtwho', 'RP_vrtenj', 'RP_vrtcld',
       'RP_VrtAcc', 'RP_VrtOthCld', 'RP_VrtOthAcc', 'RP_NotInt', 'RP_WshInt',
       'RP_lonely', 'RP_reject', 'RP_included', 'RP_accepted', 'RP_said',
       'RP_spent', 'RP_impt', 'RP_spur', 'RP_Drnk']]

In [12]:
# res_df[(res_df['InitTime'].isna()) & (res_df['Day'].isin(['Mon','Wed','Tue']))][['SubID', 'TrigDate', 'Day']]
res_df[res_df['Burst'].isna()][['SubID', 'SurvName', 'SurvType', 'RespType', 'TrigDate']].to_csv(missing_match_directory, index=False)
res_df[res_df['TrigTime'].isna()][['SubID', 'Burst', 'Weekend', 'Day', 'TrigDate']].to_csv(missing_record_directory, index=False)

In [13]:
res_df[res_df['InitTime'].isna()].Day.value_counts()

Day
Sun    359
Sat    104
Thu     94
Fri     73
Name: count, dtype: int64

In [14]:
# print(alt_df.shape)
# display(alt_df.SurvName.value_counts().reset_index())

print(res_df.shape)
display(res_df.SurvName.value_counts().reset_index())

# # res_df[res_df['SubID'] == 2644]
# # res_df[res_df['SurvName']=='Morning Reports'].TrigTime.value_counts()
# print(res_df[res_df['SurvName'].isna()].shape)
# print(res_df[res_df['RespType'].isna()].shape)
# print(res_df['RespType'].value_counts())

(30753, 99)

          SurvName  count
0  Daytime Surveys  22593
1  Morning Reports   8160

In [15]:
# print(alt_df[alt_df['Submission_Date'].isna()].shape)
# display(alt_df[alt_df['Submission_Date'].isna()].head())

# print(alt_df[alt_df['SubDate'].isna()].shape)
# display(alt_df[alt_df['SubDate'].isna()].head())

# print(alt_df[(~alt_df['Submission_Date'].isna()) & (~alt_df['SubDate'].isna())].shape)
# display(alt_df[(~alt_df['Submission_Date'].isna()) & (~alt_df['SubDate'].isna())].head())

In [16]:
res_df = res_df.sort_values(by=['SubID','SubDate','SurvName']).reset_index(drop=True)

In [17]:
res_df.to_csv('/Users/sauravyadav/Documents/Repos/Datasets/BAR_EMA/output_data/data_draft.csv', index=False)

### MR_DrnkDur Column

### MR_wake

### See next jupyter part....